---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from '../components/Greeting.jsx';
import Folder from '../components/Folder.astro';

const pageTitle = "Home Page";

const identity = {
	firstName: "Adrian",
	country: "Spain",
	occupation: "byte alchemist",
	hobbies: ["Creating", "AI", "Programming"],
};

const skills = ["Creativity", "Relentlessness"];
---

<BaseLayout pageTitle={pageTitle}>
	<div class="prose dark:prose-invert">
		<Greeting client:load/>
	</div>
	<div class="prose dark:prose-invert">
		<ul class="space-y-2">
			<li>
				My name is {identity.firstName}.
			</li>
			<li>
				I live in {identity.country} and I work as a {
					identity.occupation
				}.
			</li>
		</ul>
		<p class="mt-4">My hobbies are:</p>
		<ul class="space-y-2">
			{
				identity.hobbies.map((hobby) => (
					<li>{hobby}</li>
				))
			}
		</ul>
		<p class="mt-4">My skills are:</p>
		<ul class="space-y-2">
			{
				skills.map((skill) => (
					<li>{skill}</li>
				))
			}
		</ul>
	</div>
</BaseLayout>
