---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="flex flex-col">
        <div class="flex flex-col md:flex-row items-center md:justify-between px-6 md:px-20 py-16">
            <div class="md:w-1/2 space-y-6 mb-6 md:mb-0">
                <h1 class="text-6xl font-bold text-white">{frontmatter.title}</h1>
                <p class="text-xl text-zinc-300">{frontmatter.description}</p>
            </div>
            <div class="md:w-1/2 flex justify-center md:justify-end">
                <Image
                    src={frontmatter.image.url}
                    width="500"
                    height="281"
                    alt={frontmatter.image.alt}
                    class="object-cover rounded-lg"
                />
            </div>
        </div>
        <div class="px-6 md:px-20 py-4">
            <div class="flex justify-between items-center border-t border-zinc-900 pt-4">
                <p class="text-zinc-400">{frontmatter.pubDate.toLocaleDateString(undefined, {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })}</p>
                <div class="flex space-x-4 px-6 md:px-20 py-4">
                    {frontmatter.tags.map((tag) => (
                        <a href={`/tags/${tag}`} class="bg-zinc-800 text-white px-3 py-1 rounded hover:bg-zinc-600 transition-colors">
                            {tag}
                        </a>
                    ))}
                </div>
            </div>
        </div>
        <div class="prose lg:prose-xl mx-auto px-6 md:px-20 py-8 text-zinc-100">
            <slot />
        </div>
    </div>
</BaseLayout>